* {
    margin: 0;
    padding: 0;
    font-family: "poppins";
}
.re{
    display: flex;
    flex-direction: row;
    width: 900px;
    border: 1px solid black;
    margin-left:150px;
    margin-top: 50px;
}
.resume{
    width: 300px;
    border: 3px solid black;
}
.resumeup{
    background-color: rgb(104, 104, 208);   
}
.phot{
    height: 100px;
    width: 200px;
}
 .phot>img{
    margin-top: 15px;
    height: 100%;
    width: 100px;
    margin-left: 100PX;
    border-radius: 50%;
}
.name{
    padding-top: 55px;
    color: white;
    padding-left: 50px;
}
.plink{
    display: flex;
   column-gap: 25px;
    margin-left: 80px;
}
a{
    text-decoration: none;
    color: white;
}
.n{
    margin-left: 30px;
    margin-top: 15px;
}
.resumedown{
    background-color: rgba(66, 49, 49, 0.944);
    color: white;
}
.contact{
    padding-top: 15px;
}
.name2{
    margin-left: 50px;
}
.lin{
    height: 1px;
    margin-right: 45px;
   margin-left: 45px;
    background: white;
}
.ph{
    font-size: 1.5em;
    margin-top: 30px;
    margin-left: 55px;
}
.num{
    margin-left: 50px;
    font-size: 23px;
}
.em{
    font-size: 20px;
    margin-top: 4px;
    margin-left:55px;
}
.sk
{
    margin-top: 50px;
    margin-left: 45px;
}
.prg{
    margin-top: 30px;
    margin-left: 55px;
}
.skill-progress{
margin-top: 5px;
}
.certi{
    margin-left: 45px;
}
.lin2{
    height: 1px;
    margin-right: 50px;
   margin-left: 5px;
    background: white;
}
.cl{
       margin-top: 25px;
       margin-left: 5px;
}
.sec2 {
   
   max-width: 500px;
    margin-left: 50px;
}
.line {
    height: 2px;
    background-color: black;
    margin-left: 55px;
    margin-right: 20px;
}
h1{
    color: blue;
    margin-top: 10px;
    font-size: 25px;
    margin-left: 55px;
}
.p1 {
    color: gray;
    margin-left: 13px;
    padding: 9px 40px;
    font-size: 18px;
    line-height: 19px;
}
.rol1{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    margin-left: 55px;
    margin-right: 20px;
}
.roh1{
    margin-right: 110px;
}
.r1{
    margin-left: 90px;
    margin-right: 20px;
    margin-top: 5px;
}

.pro1{
    display: flex;
    padding-left: 55px;
    gap: 22px;
}
.p3{
    color: grey;
    margin-left: 90px;
    margin-right: 20px;
}
.ts{
    margin-left: 90px;
    margin-top: 3px;
}
.edu{
    margin-left: 92px;
}
.educ1{
    margin-top: 15px;
}
.cs{
    margin-left: 92px;
    margin-top: 5px;
}